.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: white;
  flex: 1
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: right;
  border:1px solid #c6c7c7;
  padding-right: 0.4rem;
}

.headerColumn {
  background-color:rgb(207, 207, 207);
}

.main {
  background-color: white;
  flex: 1
}